<div class="header-button">
  <button class="reload" (click)="onReload()">
    <span class="material-icons">
      autorenew
    </span>
  </button>

  <button class="create" (click)="modalCreate()">Create</button>
</div>



<div class="block">
  <table class="table">
    <div class="table-border">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Completed</th>
          <th>Button</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td class="id">{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.completed }}</td>
          <td>
            <div class="button">
              <button class="update" (click)="modalUpdate(todo.id)">Update</button>
              <button class="delete" (click)="deleteTodos(todo.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </div>
  </table>
</div>
